* {
    box-sizing: border-box;
}

body{
    background: rgb(29,43,100);
    background: linear-gradient(90deg, rgba(29,43,100,1) 10%, rgb(49, 122, 147) 51%);
}
ul {
    margin: 0;
    padding: 0;
    direction: rtl;
}

ul li {
    cursor: pointer;
    position: relative;
    border-radius: 30px;
    padding: 12px 8px 12px 40px;
    background: rgba(238, 238, 238, 0.4);
    font-size: 18px;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}


ul li:hover {
    background: rgb(29,33,100);
    background: linear-gradient(90deg, rgb(29, 94, 100) 10%, rgba(228, 205, 248, 0.91) 100%);
}


ul li.checked {
    background: #000000;
    color: #fff;
    text-decoration: line-through;
}



.close {
    position: absolute;
    left: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    border-radius: 30px;
}

.close:hover {
    background-color: #f44336;
    color: #ffffff;
}

.header {
    background: rgb(177, 177, 176);
    background: linear-gradient(90deg, rgba(177, 177, 176, 0.11) 10%, rgba(177, 177, 176, 0.41530115464154416) 92%);

    padding: 30px 40px;
    border-radius: 30px;
    color: #7CB9E8;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}


input {
    direction: rtl;
    border-radius: 30px;
    margin: 0;
    border: none;

    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}


.addBtn {
    padding: 10px;
    border-radius: 30px;
    width: 25%;
    background: #7CB9E8;
    color: #ffffff;
    font-weight: bold;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}

.addBtn:hover {
    background-color: rgba(124, 185, 232, 0.4);
}



